.titleSite{
  font-weight: 400;
  font-size: 1.25rem;
}
.nav .navList{
  list-style: none;
}
.navList .navItem{
  font-size: 1.1rem;
  color: #343a40;
}
.pricing-header h1{
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.pricing-header p{
  margin-left: 25%;
  text-align: center;
    width: 700px;
    font-size: 1.25rem;
    font-weight: 300;
}
.pricingCards h4{
  line-height: 1.2;
    color: inherit;
    background-color: #F7F7F7;
}

